@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  background-color: #f0f2f5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0px auto;
  margin: 100px 0px 150px;
}

@media (max-width: 1060px) {
  .container {
    margin-top: 30px;
  }
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  margin: 0px auto;
}

@media (max-width: 1060px) {
  .container .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .main .info {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

@media (max-width: 530px) {
  .container .main .info {
    margin-bottom: 60px;
  }
}

.container .main .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  height: 200px;
  margin-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  .container .main .info {
    max-width: 90%;
  }
}

.container .main .info .title {
  color: #1877f2;
  font-size: 60px;
  font-family: "Mulish", sans-serif;
}

.container .main .info .info_text {
  max-width: 90%;
  font-size: 27px;
}

@media (max-width: 1060px) {
  .container .main .info .info_text {
    margin: 0px auto;
    font-size: 23px;
  }
}

@media (max-width: 460px) {
  .container .main .info .info_text {
    font-size: 20px;
  }
}

.container .main .form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 450px) {
  .container .main .form {
    width: 100%;
  }
}

.container .main form {
  -ms-flex-item-align: center;
      align-self: center;
  width: 400px;
  height: 360px;
  margin-right: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 10px #cacbcc;
          box-shadow: 0px 3px 10px #cacbcc;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .container .main form {
    width: 90%;
  }
}

.container .main form input {
  width: 80%;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  -webkit-box-shadow: 0px 0px 3px #dddfe2;
          box-shadow: 0px 0px 3px #dddfe2;
  padding: 5px 15px;
  font-size: 16px;
}

.container .main form input:first-child {
  margin-top: 20px;
}

.container .main form input::-webkit-input-placeholder {
  color: #9e999e;
}

.container .main form input:-ms-input-placeholder {
  color: #9e999e;
}

.container .main form input::-ms-input-placeholder {
  color: #9e999e;
}

.container .main form input::placeholder {
  color: #9e999e;
}

.container .main form input:focus {
  border: 1px solid #1877f2;
  outline: none;
  -webkit-box-shadow: 0px 0px 2px #1877f2;
          box-shadow: 0px 0px 2px #1877f2;
}

.container .main form .signin {
  width: 88%;
  height: 50px;
  padding: 10px;
  background-color: #1877f2;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.container .main form .signin:hover {
  background-color: #166fe5;
}

.container .main form .forget_password {
  color: #188cf5;
  margin: 15px 0px;
  font-size: 15px;
  text-decoration: none;
}

.container .main form .forget_password:hover {
  text-decoration: underline;
}

.container .main form .hr {
  width: 88%;
  height: 1px;
  background-color: #9e999e;
  border: 0px;
  opacity: 0.4;
  margin: 0 0 20px 0;
}

.container .main form .signup {
  width: 180px;
  height: 50px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  padding: 10px;
  background-color: #42b72a;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

.container .main form .signup:hover {
  background-color: #36a420;
}

.container .main .default {
  font-size: 14px;
  text-align: center;
  margin: 25px auto 0px;
  max-width: 90%;
}

@media (max-width: 750px) {
  .container .main .default {
    max-width: 95%;
  }
}

.container .main .boldlink {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.container .main .boldlink:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding: 20px 0px 30px;
  background-color: #fff;
  bottom: 0;
}

footer .footer_container {
  max-width: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_container .lang-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer_container .lang-ul li {
  margin: 7px;
  line-height: 60%;
  cursor: pointer;
  font-size: 12px;
}

footer .footer_container .lang-ul li a {
  text-decoration: none;
  color: #3858b1;
}

footer .footer_container .lang-ul li a.active {
  color: #737388;
}

footer .footer_container .lang-ul li a:hover {
  text-decoration: underline;
}

footer .footer_container .bighr {
  width: 100%;
  height: 1px;
  background-color: #9e999e;
  border: 0px;
  opacity: 0.4;
  margin: 0;
}

footer .footer_container .def_text {
  color: #737388;
  margin-top: 20px;
  font-size: 11px;
  padding-left: 5px;
}
